
<h3 style="text-align: center; font-weight: bold">Sign Up</h3>
<br />
<div class="row">
    <div class="col-md-4 col-lg-offset-4 well">
        <form method="post" action="/home/adduser">
            <br />
            <label>Enter You Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <br />
            <label>Enter You Email</label>
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <label>Create Your Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" />
            <br />
            <br />
            <button class="btn btn-info btn-block">Sign Up</button>
        </form>
        <br />
        <h5 style=" text-align:center">Already Have An Acount?</h5>
        <a href="/home/login" class="btn btn-info btn-block">Log In</a>
    </div>
</div>